/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Dark background for navbar */
    color: #333;
  }
  
  .navbar .logo img {
    height: 150px; /* Adjust logo size */
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: red;
  }
  
  /* Contact Me Button */
  .contact-btn {
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: red; /* Darker red on hover */
    color: #fff;
  }
  
  /* Button Styles */
  #strava-login-btn {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #strava-login-btn:hover {
    background-color: rgb(117, 0, 0);
    border: 1px solid rgb(117, 0, 0);
    color: #fff;
  }
  
  /* Calendar Styles */
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
    gap: 10px;
    max-width: 700px;
    margin: 20px auto;
  }
  
  .calendar-cell {
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 100px;
    position: relative;
  }
  
  .calendar-cell .activity-list {
    max-height: 200px;
    overflow-y: scroll;
  }
  
  /* Activity Card Styles */
  .activity-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
  }
  
  .activity-card h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .activity-card p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .activity-card .activity-map {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  
  /* Map Styles */
  .leaflet-container {
    width: 100%;
    height: 200px;
  }
  
  /* Chart Styles */
  #chart-container {
    width: 60%;
    margin: 20px auto;
  }
  
  /* Layout adjustments */
  #calendar {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* For 7 days in a week */
    gap: 10px;
  }
  
  #calendar .calendar-cell {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    position: relative;
  }
  
  #calendar .calendar-cell .activity-list {
    max-height: 200px;
    overflow-y: scroll;
  }
  